@charset "UTF-08";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;;
}

header {
    height: 100px;
    background-color: black;
    color: white;
}
.header {
    width: 1140px;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo img {
    width: 65px;
}
.menu {
    font-weight: bold;
    font-size: 13px;
}
.menu ul {
    list-style: none;
    align-items: center;
}
.menu li {
    display: inline-block;
    padding: 10px;
}
.menu a {
    color: white;
    text-decoration: none;
    display: flex;
    border-bottom: 5px solid black;
    height: 100px;
    align-self: center;
    align-items: center;
}
.menu a:hover, .menu .active a {
    border-bottom: 5px solid #b98b59;
    color: #ccc;
}
.banner {
    background-color: #908d8d;
    height: calc(100vh - 100px);
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-position: bottom;
    overflow: hidden;
}
.banner .sliders {
    width: 1000vw;
    height: 100%;
    display: flex;
}
.banner .slide {
    width: 100vw;
    height: 100%;
    display: flex;
    background-color: rgba(0, 0, 0, 0.711);
    justify-content: center;
    align-items: center;
}
.banner .slide-area {
    color: white;
    display: flex;
    flex-direction: column;
}
.banner .slide-area h1 {
    font-size: 52px;
}
.banner .slide-area h1 span {
    color: #b98b59;
}
.banner .slide-area h4 {
    text-align: center;
}
.banner a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 12px;
    align-items: center;
    padding: 15px 44px;
    background-color: #b98b59;
    border-radius: 24px;
    margin: auto;
    text-align: center;
    margin-top: 15px;
}
.banner a:hover {
    background-color: #e3aa6d;
    color: #e7e4e4;
}