@charset "UTF-08";

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body {
    font-family:'Montserrat', Arial, Helvetica, sans-serif;
    font-size:13px;
    overflow-x:hidden;
}
header {
    height:100px;
    background-color:#000;
    color:#FFF;
}
.header {
    max-width:1140px;
    height:100px;
    margin:auto;
    display:flex;
    align-items:center;
}
.logo {
    width:100px;
}
.logo img {
    width:65px;
}
.menu-opener {
    display:none;
}
.menu {
    flex:1;
    display:flex;
    justify-content: flex-end;
}
.menu ul,
.menu li {
    list-style:none;
}
.menu ul {
    display:flex;
}
.menu li a {
    color:#FFF;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    padding-left:10px;
    padding-right:10px;
    height:100px;
    display:flex;
    align-items:center;
    border-bottom:5px solid #000;
}
.menu li a:hover,
.menu .active a {
    border-bottom:5px solid #B28756;
    color:#CCC;
}

.button {
    display:inline-block;
    background-color:#B28756;
    color:#FFF;
    text-transform: uppercase;
    font-size:12px;
    font-weight:600;
    text-decoration: none;
    padding:10px 30px;
    margin-top:30px;
    border-radius:20px;
}
.button:hover {
    background-color:#c89861;
    translate: -1px -1px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.667);
}
.button--dark {
    background-color:#000;
}
.button--dark:hover {
    background-color:#B28756;
}

.banner {
    height:calc(100vh - 100px);
    background-color:#333;
    background-image:url('../images/bg.jpg');
    background-size:cover;
    background-position:bottom;
    overflow:hidden;
}
.banner .sliders {
    width:1000vw;
    height:100%;
}
.banner .slide {
    width:100vw;
    height:100%;
    display:inline-block;
    background-color:rgba(0, 0, 0, 0.8);
}
.banner .slidearea {
    display:flex;
    flex-direction:column;
    height:100%;
    justify-content: center;
    align-items:center;
    color:#FFF;
}
.banner h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size:50px;
}
.banner h1 span {
    color:#B28756;
}
.banner h2 {
    text-transform: uppercase;
    margin-top:20px;
}
.banner .sliders-pointers {
    width:100vw;
    height:20px;
    position:absolute;
    margin-top:-50px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.banner .pointer {
    width:15px;
    height:15px;
    border:2px solid #B28756;
    border-radius:8px;
    margin-left:5px;
    margin-right:5px;
    cursor:pointer;
}
.banner .pointer.active {
    background-color:#B28756;
}

.default {
    padding-top: 50px;
    padding-bottom: 50px;
}
.default .section-title,
.default .section-desc {
    text-align: center;
    text-transform: uppercase;
}
.default .section-body,
footer .section-body {
    margin: auto;
    width: 1140px;
}
.default .section-title {
    font-weight: 600;
    font-size: 20px;
}
.default .section-desc {
    font-size: 12px;
    color: #ccc;
    margin-top: 10px;
    margin-bottom: 40px;
}
.default.default.light {
    background-color: #f7f7f7;
}
.default.light .section-title,
.default.light .section-body {
    color: black;
}
.default.dark {
    background-color: black;
}
.default.dark .section-title,
.default.dark .section-body {
    color: white;
}



.default .section-aboutus {
    display: flex;
}
.default .section-aboutus--left {
    flex: 1;
}
.section-aboutus--left p {
    font-size: 10px;
    line-height: 20px;
    text-align: left;
    font-weight: 600;
}
.default .section-aboutus--right {
    width: 500px;
}
.default .section-aboutus--right img {
    width: 400px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.705);
}
.default.dark .section-services {
    display: flex;
}
.default.dark .section_service {
    border-left: #818080 solid 1px;
    flex: 1;
}
.default.dark .section_service:last-child {
    border-right: #818080 solid 1px;
}
.default.dark .section-services h4 {
    font-size: 12px;
    margin-top: 16px;
}
.default.dark .section-services p {
    font-size: 9px;
    color: #CCC;
    font-weight: lighter;
    padding: 6px;
    line-height: 18px;
}
.default .section-projects--filters li {
    padding: 15px;
    font-size: 13px;
    font-weight: lighter;
    border-left: solid 1px #c6c2c2;
    cursor: pointer;
    display: inline-block;
    color: #555;
    border-bottom: 3px solid #e5e2e2;;
}
.default .section-projects--filters ul {
    list-style: none;
    background-color: #e5e2e2;
    border-radius: 24px;
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
    border: solid 1px #c6c2c2;
}
.default .section-projects--filters li:first-child {
    border-left: none;
}
.default .section-projects--filters ul .active,
.default .section-projects--filters li:hover {
    border-bottom: 3px solid #B28756;
    color: rgb(0, 0, 0);
}
.default.light .section-projects--photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    width: 100vw;
    max-width: 1140px;
}
.default.light .section-projects--photo {
    width: 280px;
}
.default.light .section-projects--photoarea {
    margin: 10px;
    width: 260px;
    height: 160px;
}
.default.light .section-projects--photoarea img {
    width: inherit;
    height: inherit;
}
.default.light .section-projects--photoinfo {
    background-color: rgba(0, 0, 0, 0.585);
    height: inherit;
    width: inherit;
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
    color: white;
}
.default.light .section-projects--photoinfo h6 {
    font-size: 15px;
    font-weight: bold;
}
.default.light .section-projects--photoinfo p {
    font-size: 9px;
    font-weight: lighter;
}
.section-projects--photoarea:hover .section-projects--photoinfo {
    display: flex;
}
.default.dark.bg-team {
    background: url(../images/bg\ team.webp);
    background-size: cover;
    background-position: center;
    padding: 0px;
}
.default.dark.bg-team .section-team-area {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.701);
    padding-top: 50px;
    padding-bottom: 50px;
}
.section-team {
    overflow: hidden;
    max-width: 880px;
    margin: auto;
}
.section-team .sliders {
    width:1000vw;
    height:100%;
}
.section-team .slide {
    width:280px;
    height:100%;
    display:inline-block;
    background-color:white;
    margin-right: 20px;
    height: 300px;
}
.section-team .slidearea {
    display:flex;
    flex-direction:column;
    height:100%;
    justify-content: center;
    align-items:center;
    color:#000;
    padding: 30px;
}
.section-team-area .sliders-pointers {
    height:20px;
    margin-top:-50px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.section-team-area .pointer {
    width:15px;
    height:15px;
    border:2px solid #B28756;
    border-radius:8px;
    margin-left:5px;
    margin-right:5px;
    cursor:pointer;
}
.section-team-area .pointer.active {
    background-color:#B28756;
}
.section-team .avatar {
    width: 150px;
    height: auto;
}
.section-team .section-team--name {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 17px;
    margin-top: 30px;
}
.section-team .section-team--role {
    margin-top: 5px;
    color: #999;
    font-size: 14px;
}
.section-team .section-team--social {
    display: flex;
    margin-top: 15px;
}
.section-team .section-team--social a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    margin-right: 10px;
    background-color: #ccc;
    border-radius: 50%;
}
.section-team .section-team--social a:hover,
.slidearea .section-team--social .active {
    background-color: #B28756;
}
.section-clients .section-clients {
    width: 730px;
}
.section-clients .section-clients--name {
    font-size: 17px;
    font-weight: bold;
}
.section-clients .section-clients--role {
    font-size: 13px;
    margin-top: 5px;
    margin-bottom: 25px;
}
.section-clients p {
    font-size: 9px;
    color: #ccc;
    line-height: 20px;
}
.default.publi {
    border-top: solid #ccc 1px;
    border-bottom: solid #ccc 1px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.395);
}
.section-body .section-publi {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section-price {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.section-price .section-price-products {
    background-color: white;
    margin-left: 6px;
    margin-right: 6px;
    padding-bottom: 30px;
    padding-top: 30px;
    width: 220px;
    height: auto;
    align-items: center;
}
.section-price .section-price-products a {
    color: white;
    font-weight: bold;
    font-size: 11px;
    background-color: #373737;
    text-decoration: none;
    padding: 10px 25px;
    margin-top: 5px;
    border-radius: 24px;
}
.section-price-products .section-price-products-title {
    font-size: 14px;
    color: black;
    font-weight: bold;
}
.section-price-products .section-price-products-price {
    font-weight: bold;
    color: black;
    margin-top: 10px;
    margin-bottom: 8px;
    font-size: 24px;
}
.section-price-products .section-price-products-price span {
    font-size: 10px;
    color: #ccc;
    font-weight: normal;
}
.section-price-products .section-price-products-description li {
    list-style: none;
}
.section-price-products .section-price-products-description {
    font-size: 8px;
    font-weight: lighter;
}
footer {
    background-color: black;
}
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #CCC;
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer .footer-left {
    display: flex;
    flex: 1;
    align-items: flex-start;
}
.footer .footer-left .copy {
    align-self: flex-end;
    justify-self: end;
}
.footer .footer-left .footer-social a {
    margin: auto;
    margin-left: 6px;
    background-color: #373737;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
}
.footer .footer-center {
    display: flex;
    flex: 1;
    text-align: left;
}
.footer .footer-right {
    display: flex;
    flex: 1;
    background-color: #373737;
    border-radius: 3px;
    justify-content: center;
}
.footer-right .footer-right-form {
    padding-top: 25px;
    padding-bottom: 25px;
}
.footer-right .footer-right-form input {
    background-color: #373737;
    border: none;
    padding: 10px;
    border-bottom: solid #ccc 2px;
}
.footer .footer-center p {
    font-size: 10px;
}